.card{
    border-radius: $border-radius-base;
    box-shadow: 0 1px 2px rgba(0,0,0,.05),0 0 0 1px rgba(63,63,68,.1);
    background-color: #FFFFFF;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;

    .image{
        width: 100%;
        overflow: hidden;
        height: 260px;
        border-radius: $border-radius-base $border-radius-base 0 0;
        position: relative;
        -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        transform-style: preserve-3d;

        img {
            width: 100%;
        }
    }
    .filter{
        position: absolute;
        z-index: 2;
        background-color: rgba(0,0,0,.68);
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        text-align: center;

        @include opacity(0);

        .btn{
            @include vertical-align();
        }
    }
    &:hover .filter{
        @include opacity(1);
    }
    .btn-hover{
        @include opacity(0);
    }
    &:hover .btn-hover{
        @include opacity(1);
    }
    .content{
        padding: 15px 15px 10px 15px;
    }
    .header{
        padding: 15px 15px 0;
    }
    .category,
    label{
        font-size: $font-size-base;
        font-weight: $font-weight-normal;
        color: $dark-gray;
        margin-bottom: 0px;

        i{
            font-size: $font-paragraph;
        }
    }

    label{
        font-size: $font-size-small;
        margin-bottom: 5px;
        text-transform: uppercase;
    }

    .title{
        margin: $none;
        color: $black-color;
        font-weight: $font-weight-light;
    }
    .avatar{
        width: 30px;
        height: 30px;
        overflow: hidden;
        border-radius: 50%;
        margin-right: 5px;
    }
    .description{
        font-size: $font-size-base;
        color: #333;
    }
    .footer{
        bottom:0;
        padding: 0;
        padding-left:5px;
        background-color: $transparent-bg;
        line-height: 30px;

        .legend{
            padding: 5px 0;
            .fa{
              margin-left: 2.5em;
            }
        }

        hr{
            margin-top: 5px;
            margin-bottom: 5px;
        }
    }
    .stats{
        color: #a9a9a9;
    }
    .footer div{
        display: inline-block;
    }

    .author{
        font-size: $font-size-small;
        font-weight: $font-weight-bold;
        text-transform: uppercase;
    }
    .author i{
        font-size: $font-size-base;
    }
    h6{
        font-size: $font-size-small;
        margin: 0;
    }
    &.card-separator:after{
        height: 100%;
        right: -15px;
        top: 0;
        width: 1px;
        background-color: $medium-gray;
        content: "";
        position: absolute;
    }

    .ct-chart{
        margin: 30px 0 30px;
        //height: 245px;
    }
    svg{
      overflow:visible;
    }


    .table{
        tbody td:first-child,
        thead th:first-child{
            padding-left: 15px;
        }

        tbody td:last-child,
        thead th:last-child{
            padding-right: 15px;
        }
    }

    .alert{
        border-radius: $border-radius-base;
        position: relative;

        &.alert-with-icon{
            padding-left: 65px;
        }
    }
}
.card-user{
    .image{
        height: 110px;
    }
    .image-plain{
        height: 0;
        margin-top: 110px;
    }
    .author{
        text-align: center;
        text-transform: none;
        margin-top: -70px;
    }
    .avatar{
        width: 124px;
        height: 124px;
        border: 5px solid #FFFFFF;
        position: relative;
        margin-bottom: 15px;

        &.border-gray{
            border-color: #EEEEEE;
        }
    }
    .title{
        line-height: 24px;
    }
    .content{
        min-height: 240px;
    }
}

.card-user,
.card-price{
    .footer{
        padding: 5px 15px 10px;
    }
    hr{
        margin: 5px 15px;
    }
}
.card-plain{
    background-color: transparent;
    box-shadow: none;
    border-radius: 0;

    .image{
        border-radius: 4px;
    }
}

.card-stats {

  .content{
    overflow:hidden;
    height:auto;
  }

  .icon-big {
    font-size: 3em;
    min-height: 64px;

    i {
      font-weight: bold;
      line-height: 59px;
    }
  }

  .numbers {
    font-size: 2em;
    text-align: right;

    p {
      margin: 0;
      white-space:nowrap;
    }
  }

  .range-center {
    height: 100%;
    width: 100%;
    position: absolute;
    right: 0;
    top: 20%;
    text-align: center;
  }

  .calendar-wrapper {
    display: block;
    overflow: auto;
  }

  height: auto;
  width:200px;

  .text-center {
    text-align: left !important;
  }

  .btn{
    border-width:0px;
    width:27px;
    height:27px;
    padding:1px;
    padding-bottom:0px;
    float:right;
    //height:100%;
    //width:100%;

    .fa{
      font-size:25px;
    }
  }
  .centered-row{
    align-items:center!important;
  }
  .fullwidth-row{
    width:100%;
  }
  .text-column-left{
    text-align:left;
  }
}

.card-stats-tabbed {
  justify-content:flex-start;
  .content {
    position: relative;
    overflow:hidden;
  }

  .icon-big {
    font-size: 3em;
    min-height: 64px;

    i {
      font-weight: bold;
      line-height: 59px;
    }
  }

  .numbers {
    font-size: 2em;
    text-align: right;

    p {
      margin: 0;
    }
  }

  .range-center {
    height: 100%;
    width: 100%;
    position: absolute;
    right: 0;
    top: 20%;
    text-align: center;
  }

  .calendar-wrapper {
    height: 100%;
    width: 50%;
    position: absolute;
    right: 0;
    top: 0;
  }

  height: 153px;

  .text-center {
    text-align: left !important;
  }

}

.card-stats-calendar {

  .calendar-button {
    align-items: center;
  }

  .content {
    overflow: hidden;
  }

  .btn {
    //line-height: normal !important;
    //overflow: hidden !important;
    //text-overflow: ellipsis !important;
    //white-space: nowrap !important;
    //border-width: 1px;
  }

  .hide {
    display: none;
  }

  .show {
    display: inherit;
  }

  .date-text {
    text-align: center;
  }

  .stats-val {
    text-align: right;
    display: block;
  }

  p {
    text-align: right;
  }

  .icon-big {
    font-size: 3em;
    min-height: 64px;

    i {
      font-weight: bold;
      line-height: 59px;
    }
  }

  .numbers {
    font-size: 2em;
    text-align: right;

    p {
      margin: 0;
    }

    i {
      padding-right: 10px;
      vertical-align: middle;
      font-size: 1.1em;
    }
  }

  .row {
    flex-wrap: nowrap;
  }

  .range-center {
    height: 100%;
    width: 100%;
    position: absolute;
    right: 0;
    top: 20%;
    text-align: center;
  }

  height: 153px;

  .text-center {
    text-align: left !important;
  }
}

.im-date-picker table {
  height: auto !important;
}

.im-input-moment{
  height: auto !important;
  margin-bottom: 1em;
}

table {
  width: 90%;
}

td {
  width: 33.33%;
  height: 33.33%;
  position: relative;
}


td .content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: gold;
}

.output-datetime{
  width:100%;
  text-align: left;
  text-indent: 0.5em;
  margin-bottom: 1em;
}

.im-date-picker thead td{
  padding: 3%;
}

.im-date-picker td{
  padding:2%
}

.centerButton{
  width:100%;
}

.centerButton:hover {
  -webkit-box-shadow: inset 0 0 2px #00f;
  -moz-box-shadow: inset 0 0 2px #00f;
  box-shadow: inset 0 0 2px #00f;
}

.modal-title{
  margin: 0;
}

.autogen-effectContainer{
  //width:100%;
}

.progress{
  height:10px!important;
  width:100px!important;
}

.open-speech-accent-color {
  background-color: #0062cc;
}

.open-speech-highlight-color {
  background-color: #3797ff;
}

.open-speech-accent-color {

  .open-speech-processing-anim {
    content: '';
    position: absolute;
    width: 58px;
    height: 8px;
    background-image: linear-gradient(to bottom, rgba(170, 184, 190, 0), rgba(170, 184, 190, .8));
    animation: scanning .8s linear infinite;
  }

  @keyframes scanning {
    100% {
      transform: translate(0, 52px);
    }
  }

}

.open-speech-accent-font{
  color:aliceblue;
  font-size: 2em;
  margin-top:7px;
  margin-left:5px;
  margin-bottom:3px;
  text-align:left;
  height:100%;
  font-weight:400;
}

.open-speech-error-font {
  color: crimson;
  font-size: 2em;
  margin-top: 7px;
  margin-left: 5px;
  margin-bottom: 3px;
  text-align: left;
  height: 100%;
  font-weight: 400;
}

.open-speech-is-highlighted {
  box-shadow: 0px 0px 6px #0062cc;
  transition: all 0.5s ease-in-out;
}

.open-speech-is-error-highlighted {
  box-shadow: 0px 0px 6px crimson;
  transition: all 0.5s ease-in-out;
}

.open-speech-header-std {
  width: 100%;
  height: 40px;
  overflow: hidden;
  border-radius: 3px;
  box-shadow: 0px 3px 8px grey;
  align-content:center;
  padding-top:2px;
  display:inherit;

  .fa{
    padding-top:2px;
    font-size:22px;
    float:right;
    padding-right:8px;
    height:auto;
    width:auto;
  }
}

.large-icon{
  font-size:25px;
}

.btn-icon{
  padding:3px;
  padding-bottom:2px;
}

.fa{
  width:auto!important;
}

.open-speech-loading-anim{
  float:right;
  padding-right:8px;
  padding-top:2px;
  margin-right:5px;
  margin-top:8px;

}
.modal-dialog{
  //display:inline-block;
  .jumbotron{
    border-radius:0;
    font-size:medium;
    padding-left: 10px;
    padding:1rem 1rem;
  }
}

.modal-dialog {

  background-color: rgba(203, 203, 210, 0.15);
  max-width: 1920px;
}

.modal-title{
  margin:auto;
  .float-left{
    float:left;
    margin:auto;
  }
  .float-right{
    float:right;
    margin:auto;
  }
}

.modal-content {

  border-left: hidden;
  border-right: hidden;
  box-shadow: 0px 3px 8px grey;
}


.modal-body{

}

.navbar-brand {
  font-family: Roboto;
  color: #EEEEEE!important; 
  font-weight: 700;
  border-bottom: 2px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-style: solid;
  border-color: #0062cc;
}

.navbar {
  background-color: #0062cc!important;
  text-align:center!important;
}

.autogen-control {
  padding-bottom: 6px;
  padding-top: 9px;
  border: 0px;
  border-bottom: 1px;
  border-style: solid;
  border-color: #f7f4f4;
}

.autogen-control-name {
  font-size: 2.5rem;
  font-weight: 300;
  text-shadow: 1px 2px 2px #0c4eb140;
}


.autogen-value-row {
  background-color: #fbfcfd8a;
  border-style: inset;
  border-radius: 6px;
  border-color: #f1f1f114;
  flex-direction: row;
  justify-content: space-between;
}

.autogen-value {
  font-size: 2.2rem;
  font-weight: 300;
  padding-left: 4px;
  width: 55%;
  white-space: nowrap;
}

.autogen-units {
  font-size: 1.8rem;
  font-weight: 300;
  padding-top: 0.5rem;
  padding-right: 0.5rem;
  text-align: right;
  width: 45%;
  overflow: hidden;
  color: #0062cc;
  white-space: nowrap;
}

.range-slider__wrap{
  padding-top: 10px;
  padding-bottom:30px;
}
